<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/index.css">
  <title>Snip</title>
</head>

<body>

  <div class="app">

    <header>
      <h1>Snip</h1>
    </header>

    <main>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem enim reprehenderit possimus commodi
      reiciendis vero ad. Rem a deserunt, nihil neque quae, fuga repellat tempore, itaque beatae aliquid natus quisquam!
    </main>

    <footer>
      <span>© {{.Year}} Clay Dunston</span>
    </footer>

  </div>

</body>

</html>
